<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChatApp</title>
    @RenderSection("Styles", false)
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/lib/fontawesome-free-6.0.0-beta3-web/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
</head>

<body>

    @*  <div class="navbar">
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="Find">Find</a>
        <a asp-controller="Home" asp-action="Private">Private</a>
        <a asp-controller="Account" asp-action="Logout">Log out</a>
        <a >
        Hello,   @RenderSection("nameUser", false) <i class="fa fa-user fa-3x" aria-hidden="true"></i>
        </a>

        </div>*@
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a asp-controller="Home" asp-action="Index" class="nav-link text-light" >Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Find" class="nav-link text-light">Find</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Private" class="nav-link text-light" >Private</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Logout" class="nav-link text-light">Log out</a>
                </li>
            </ul>
            <span class="mr-2 text-light">Hello,   @RenderSection("nameUser", false)</span> <i class="fa fa-user fa-2x text-light" aria-hidden="true"></i>
        </div>
    </nav>

    <div class="main">
        @if (User.Identity.IsAuthenticated)
        {
            <vc:room></vc:room>
        }
        <div class="chat">
            @RenderBody()
        </div>
    </div>
    <div class="modal" id="create-room-modal">
        <form asp-controller="Home" asp-action="CreateRoom" class="modal-body">
            <button type="button" class="close" onclick="closeModal()">X</button>
            <header>Create Room</header>
            <div>
                <input name="name">
            </div>
            <footer>
                <button>Create</button>
            </footer>
        </form>
    </div>

    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", false)


</body>

</html>